[Unit]
Description=api.ozeliurs.com gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/api/

ExecStart=gunicorn --access-logfile - --workers 3 --bind unix:/var/www/api/api.sock app:app

[Install]
WantedBy=multi-user.target
