[Unit]
Description=api.ozeliurs.com gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/api/

ExecStart=/usr/bin/gunicorn --access-logfile - --workers 3 --bind unix:/var/www/api.sock app:app

[Install]
WantedBy=multi-user.target
